*{
    margin: 0;padding: 0;
}
body{
    font-family: 'Oswald', sans-serif;;
}
section{
    margin-bottom: 80px;
    background-color: #ffffff;
}
#diet_chart{
    display: flex;
}
.diet_plan{
    width: 50%;
    padding: 60px 80px;
    margin-left: 30px;
}
.diet_plan h1 {
    font-size: 50px;
    color: #525151;
    padding: 25px 0px;
    margin-top: 100px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.diet_plan img {
    width: 100%;
}
.diet_plan h1 span{
    color: tomato;
}
.diet_plan p {
    font-size: 25px;
    width: 500px;
    margin-bottom: 65px;
    color: #6b6868;
}
.diet_plan a {
    text-decoration: none;
    background: linear-gradient(#fb934a,#fd4f30);
    padding: 15px 45px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    color: white;
}
#myself{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about_me{
    width: 50%;
    padding: 50px 25px;
}
.about_me img {
    width: 50%;
    margin-left: 125px;
    border-radius: 5px;
}
.about_me h2 {
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 90px;
    color: #6b6969;
}

.about_me p {
    width: 420px;
    font-family: arial;
    font-size: 18px;
    color: #3e3c3c;
    margin-bottom:150px
}
.contact_btn{
    background-image: linear-gradient(tomato,orange);
    padding: 15px 45px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    cursor: grab;
}
.container{
    width: 1170px;
    margin: auto;
}
.recipi_txt h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
    color: #505050;
}
.recipi_txt p {
    text-align: center;
    font-size: 19px;
    margin-bottom: 25px;
}
.recipi_txt {
    padding: 20px 0px;
}
.recipe_wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 25px 5px;
}
.rcp_boxes{
    width: 350px;
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 15px 10px 20px #847f7f;
}
.rcp_image img{
    width: 100%;
    border-radius: 15px;
}
.rcp_text h2 {
    font-size: 25px;
    padding-top: 25px;
}

.rcp_text p {
    font-size: 18px;
    font-weight: 400;
    color: #4c4b4b;
    padding: 10px 0px;
    padding-bottom: 15px;
    padding-top: 10px;
}
.social_Subs h1 {
    font-size: 50px;
}

.social_Subs span {
    font-size: 25px;
}
.social_media_wrapper{
    background-color: white;
    box-shadow: 10px 0px 25px grey;
    border-radius: 10px;
}
section#social_media {
    padding-top: 50px;
}
.abtUS_wrapper{
    display: flex;
}
.about_usBox{
    width: 40%;
    padding: 0px 185px;
    color: #adaaaa;
    font-family: arial;
}
.web_name {
    text-align: center;
    margin: 25px 0px;
    margin-bottom: 40px;
    padding-top: 24px;
}

.web_name h2 {
    font-size: 35px;
    word-spacing: 10px;
    font-family: math;
    color: #716e6e;
}

.orange-color {
    color: #ff3c3c;
}

footer.footr_area {
    background: black;
    color: white;
}

.about_usBox h3 {
    font-size: 25px;
    padding: 10px 0px;
}

.about_usBox p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 22px;
}

.copy_txt {
    text-align: center;
    padding: 20px 0px;
    font-size: 20px;
    font-family: arial;
    color: #b5b5b5;
}
.about_usBox a{
    text-decoration: none;
    color: #adaaaa;
    border: 1px solid tomato;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
}